{% extends 'base.html.twig' %}

{% block body %}
    <p>
        C'est durant le module de Programmation Web que nous avons découvert le framwork symfony.<br>
        A la fin de ce module et dans le cadre de nos études à l'institut unviversitaire de technologie spécialisé en informatique,
        il nous a été demandé de réaliser un projet permettant à une personne de s'inscrire sur un site et de pouvoir y faire des achats d'albums. Afin de réaliser ce projet il nous a paru évident que
        la solution adaptée était symfony.
        <br>
        <br>
        <strong>Aymeric Devriésère et Rémi Labergère</strong><br><br>
        Nous sommes deux étudiants en Informatique à l'IUT de Bordeaux. Nous sommes passionnés de nouvelles technologies et ce site était pour nous
        un moyen de pouvoir s'entrainer sur un outil avec lequel on était peu familié et on y a pris goût! <br>
        Si vous êtes une entreprise ou un particulier et que vous souhaiter faire l'aquisition d'un site web, n'hésitez pas à nous contacter!<br>
        <strong>Contact</strong><br><br>
        Mail : alibdesign@gmail.com
    </p>
{% endblock %}