{% extends 'base.html.twig' %}

{% block body %}
    <p>
        C'est durant le module de Programmation Web que nous avons découvert le framework Symfony.<br>
        A la fin de ce module et dans le cadre de nos études à l'institut unviversitaire de technologie spécialisé en informatique,
        il nous a été demandé de réaliser un projet permettant à une personne de s'inscrire sur un site et de pouvoir y faire des achats d'albums. Afin de réaliser ce projet il nous a paru évident que
        la solution adaptée était Symfony.
        <br>
        <br>
        <strong>Notre solution au problème</strong><br><br>
        C'est avec fierté que nous vous présentons Alib'album. Alib'album est un site qui, en étant lié à une base de données, permet  à des nouveaux clients de s'inscrire
        et aux plus assidus de se connecter. De plus, deux pages présentent respectivement les différents auteurs d'albums et les différent albums. Sur ces deux pages il
        est possible de réaliser une recherche pour trouver son musicien ou album préféré en quelques secondes ! Egalement, en cliquant sur les artistes, il s'affiche une page
        avec les albums de chacun ! Il est aussi possible à partir de la page d'un album de connaître les artistes y ayant participé.<br><br>
        <strong>Aymeric Devriésère et Rémi Labergère</strong><br><br>
        Nous sommes deux étudiants en Informatique à l'IUT de Bordeaux. Nous sommes passionnés de nouvelles technologies. Ce site était pour nous
        un moyen de pouvoir s'entrainer en utilisant un outil avec lequel nous étions peu familier et nous y avons pris goût ! <br>
        Si vous êtes une entreprise ou un particulier et que vous souhaitez faire l'acquisition d'un site web, n'hésitez pas à nous contacter !<br><br>

        <strong>Situations blocantes au court du projet ?</strong><br><br>
        Nous avons rencontré trois situtations blocantes principales. La première étant la découverte avancée de symfony qui nous a demandé énormement de recherches personnelles
        et donc de temps. La seconde s'est présentée lorsque nous avons dû accéder à la base car certaines liaisons manquaient entre les tables et certaines ne se chargeaient pas notamment à cause de la présence d'accents. La dernière situtation blocante (que nous n'avons pas été en mesure de régler) est le dépot du site sur les serveurs
        de l'IUT. En effet ces derniers manquaient de certaines ressources pour que le site puisse fonctionner et nous n'avons pas la possibilité de les rajouter.<br><br>
        <strong>Contact : </strong>
        <a class="mail_link" Href="mailto:design.alib@gmail.com">design.alib@gmail.com</a>

    </p>
{% endblock %}

{% block stylesheets %}
    <style>
        a.mail_link, a.mail_link:hover
        {
            color: #0088CC;
            text-decoration: underline;
        }
    </style>
{% endblock %}
