{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Découvrez le meilleur de la musique !</h1>
    <hr>
    <div class="col-md-12">
        <div id="top-header" class="col-md-10 col-md-offset-1">
            <h2 class="text-center">Slt</h2>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

        #top-header {
            padding: 10px;
            background-color: #a1dbff;
        }

    </style>
{% endblock %}