{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Avec plus de <strong><big>1 million</big></strong> de références classiques, Alib'Album est fier de vous
        proposer un service simple, intuitif et innovant de profiter des plus grands titres de l'histoire de la
        musique <strong>en toute légalité</strong>.
    </p>
    <p>
        Grâce à notre interface pensée pour vous, vous n'aurez aucun mal à trouver, acheter et télécharger vos
        titres préférés !
    </p>
    <br/>
    <p><strong><big>Découvrez dès maintenant notre bibliothèque !</big></strong></p>
    <br/>
    <a href="{{ path('artists') }}">Voir les artistes >></a>
    <a href="{{ path('albums') }}">Voir les albums >></a>
{% endblock %}
{% block stylesheets %}
    <style>
        .box a
        {
            font-weight: bold;
            text-decoration: none;
            color: #C9C9C9;
            margin-right: 4%;
            padding: 5px;
            cursor: pointer;
            border-bottom: 1px solid;
        }
        .box a:hover
        {
            font-weight: bolder;
            border-bottom: 2px solid;
        }
    </style>
{% endblock %}